Integration Webhooks, Apollo, JSON, Google Gemini AI, Brevo.blueprint (2).json
{
    "name": "Integration Webhooks, Apollo, JSON, Google Gemini AI, Brevo",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2588755,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My gateway-webhook webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Business Name",
                        "type": "text"
                    },
                    {
                        "name": "Category",
                        "type": "text"
                    },
                    {
                        "name": "Website Status",
                        "type": "text"
                    },
                    {
                        "name": "Street Address",
                        "type": "text"
                    },
                    {
                        "name": "City",
                        "type": "text"
                    },
                    {
                        "name": "State",
                        "type": "text"
                    },
                    {
                        "name": "Zip Code",
                        "type": "text"
                    },
                    {
                        "name": "Reviews",
                        "type": "text"
                    },
                    {
                        "name": "Rating",
                        "type": "text"
                    },
                    {
                        "name": "Phone",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "hunter:makeAnAPICall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9965283
            },
            "mapper": {
                "url": "/v2/domain-search",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "qs": [
                    {
                        "key": "company",
                        "value": "{{2.`Business Name`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 975,
                    "y": 8
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Hunter connection",
                            "data": {
                                "scoped": "true",
                                "connection": "hunter"
                            }
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hunter",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 432279
            },
            "filter": null,
            "mapper": {
                "json": "{{8.body}}"
            },
            "metadata": {
                "designer": {
                    "x": 1275,
                    "y": 8
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "help": "",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "domain",
                                "label": "Domain",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "disposable",
                                "label": "Disposable",
                                "help": "",
                                "type": "boolean",
                                "required": false
                            },
                            {
                                "name": "webmail",
                                "label": "Webmail",
                                "help": "",
                                "type": "boolean",
                                "required": false
                            },
                            {
                                "name": "accept_all",
                                "label": "Accept all",
                                "help": "",
                                "type": "boolean",
                                "required": false
                            },
                            {
                                "name": "pattern",
                                "label": "Pattern",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "organization",
                                "label": "Organization",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "emails",
                                "label": "Emails",
                                "help": "",
                                "type": "array",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "value",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "type",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "confidence",
                                            "label": null,
                                            "help": "",
                                            "type": "number",
                                            "default": null,
                                            "required": false
                                        },
                                        {
                                            "name": "first_name",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "last_name",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "position",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "department",
                                            "label": null,
                                            "help": "",
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "verification",
                                            "label": null,
                                            "help": "",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "status",
                                                    "label": null,
                                                    "help": "",
                                                    "type": "text",
                                                    "default": null,
                                                    "required": false,
                                                    "multiline": false
                                                },
                                                {
                                                    "name": "date",
                                                    "label": null,
                                                    "help": "",
                                                    "type": "text",
                                                    "default": null,
                                                    "required": false,
                                                    "multiline": false
                                                }
                                            ],
                                            "required": false
                                        }
                                    ],
                                    "required": false
                                },
                                "required": false
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "meta",
                        "label": "Meta",
                        "help": "",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "results",
                                "label": "Results",
                                "help": "",
                                "type": "number",
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "limit",
                                "label": "Limit",
                                "help": "",
                                "type": "number",
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "offset",
                                "label": "Offset",
                                "help": "",
                                "type": "number",
                                "default": null,
                                "required": false
                            }
                        ],
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "array": "{{9.data.emails}}"
            },
            "metadata": {
                "designer": {
                    "x": 1575,
                    "y": 8
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "array",
                        "type": "array",
                        "label": "Array",
                        "mode": "edit",
                        "spec": []
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9832206
            },
            "filter": {
                "name": "Filter 2",
                "conditions": [
                    [
                        {
                            "a": "{{10.verification.status}}",
                            "o": "text:equal",
                            "b": "valid"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gemini-3.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Write a one-sentence opening email hook for the owner of a business named {{2.`Business Name`}} located in{{2.City}}.\n\nThe hook must naturally call out the fact that they currently do not have a website listed on Google Maps, meaning local customers are going to their competitors instead. Keep it under 18 words. Do not include any email introductions, subject lines, quotes, or greetings—just output the direct sentence."
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "You are an elite, direct B2B sales copywriter. Your job is to write a single opening line for a cold email targeting local business owners who do not have an active website. Your tone must be completely casual, professional yet conversational, and devoid of fake corporate excitement, exclamation points, or robotic buzzwords"
                        }
                    ]
                },
                "generationConfig": {
                    "thinkingConfig": {},
                    "imageConfig": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 1875,
                    "y": 8
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 3.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "sendinblue:SendEmail",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9962581
            },
            "mapper": {
                "to": [
                    {
                        "name": "{{10.first_name}}{{10.last_name}}",
                        "email": "{{10.value}}"
                    }
                ],
                "subject": "quick question re:{{2.`Business Name`}}",
                "textContent": "{{4.result}}",
                "replyTo": {
                    "name": "Everett ",
                    "email": "vertexbuildsteam@gmail.com"
                },
                "sender": {
                    "name": "Everett Denniston",
                    "email": "vertexbuildsteam@gmail.com"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Brevo connection",
                            "data": {
                                "scoped": "true",
                                "connection": "sendinblue2"
                            }
                        }
                    },
                    "expect": {
                        "templateId": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachment": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "tags": {
                            "mode": "chose"
                        },
                        "params": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sendinblue2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "templateId",
                        "type": "select",
                        "label": "Template"
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "htmlContent",
                        "type": "text",
                        "label": "HTML body"
                    },
                    {
                        "name": "textContent",
                        "type": "text",
                        "label": "Text body"
                    },
                    {
                        "name": "replyTo",
                        "type": "collection",
                        "label": "Reply To",
                        "required": true,
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "attachment",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "Image URL",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Data",
                                        "value": "data",
                                        "nested": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ]
                    },
                    {
                        "name": "sender",
                        "type": "collection",
                        "label": "Sender",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ]
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags",
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "params",
                        "type": "array",
                        "label": "Params",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}